* {
    margin: 0px;
  }

#landing-page {
    background-image: url(../../img/landing-page.jpg);
    height: 100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

#landing-page p {
    animation-name: slideIn;
    animation-duration: 1.5s;
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: rgb(0, 0, 0, 0.6);
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@media screen and (max-width: 767px) {
    #landing-page p {
        font-size: 30px;
    }

    #landing-page {
        height: 80vh;
    }
}